<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.ScAiTaskLogMapper">
  <resultMap type="ScAiTaskLog" id="ScAiTaskLogResult">
    <id property="taskId" column="task_id" />
    <result property="bizType" column="biz_type" />
    <result property="bizId" column="biz_id" />
    <result property="modelId" column="model_id" />
    <result property="modelName" column="model_name" />
    <result property="requestPayload" column="request_payload" />
    <result property="responsePayload" column="response_payload" />
    <result property="tokenUsed" column="token_used" />
    <result property="taskStatus" column="task_status" />
    <result property="errorMsg" column="error_msg" />
    <result property="durationMs" column="duration_ms" />
    <result property="createTime" column="create_time" />
  </resultMap>
  <sql id="selectScAiTaskLogVo"> select t.task_id, t.biz_type, t.biz_id, t.model_id, m.model_name,
    t.request_payload, t.response_payload, t.token_used, t.task_status, t.error_msg, t.duration_ms,
    t.create_time from sc_ai_task_log t left join sc_ai_model_config m on t.model_id = m.model_id </sql>
  <select id="selectScAiTaskLogByTaskId" parameterType="Long" resultMap="ScAiTaskLogResult"><include
      refid="selectScAiTaskLogVo" /> where t.task_id = #{taskId}</select>
  <select id="selectScAiTaskLogList" parameterType="ScAiTaskLog" resultMap="ScAiTaskLogResult"><include
      refid="selectScAiTaskLogVo" /><where><if test="bizType != null and bizType != ''">and
    t.biz_type = #{bizType}</if><if test="bizId != null">and t.biz_id = #{bizId}</if><if
        test="modelId != null">and t.model_id = #{modelId}</if><if
        test="taskStatus != null and taskStatus != ''">and t.task_status = #{taskStatus}</if></where>
    order by t.task_id desc</select>
  <insert id="insertScAiTaskLog" parameterType="ScAiTaskLog" useGeneratedKeys="true"
    keyProperty="taskId">insert into sc_ai_task_log(biz_type, biz_id, model_id, request_payload,
    response_payload, token_used, task_status, error_msg, duration_ms, create_time)
    values(#{bizType}, #{bizId}, #{modelId}, #{requestPayload}, #{responsePayload}, #{tokenUsed},
    #{taskStatus}, #{errorMsg}, #{durationMs}, sysdate())</insert>
  <update id="updateScAiTaskLog" parameterType="ScAiTaskLog">update sc_ai_task_log <set><if
        test="bizType != null">biz_type = #{bizType},</if><if test="bizId != null">biz_id =
    #{bizId},</if><if test="modelId != null">model_id = #{modelId},</if><if
        test="requestPayload != null">request_payload = #{requestPayload},</if><if
        test="responsePayload != null">response_payload = #{responsePayload},</if><if
        test="tokenUsed != null">token_used = #{tokenUsed},</if><if test="taskStatus != null">task_status
    = #{taskStatus},</if><if test="errorMsg != null">error_msg = #{errorMsg},</if><if
        test="durationMs != null">duration_ms = #{durationMs},</if></set> where task_id = #{taskId}</update>
  <delete id="deleteScAiTaskLogByTaskId" parameterType="Long">delete from sc_ai_task_log where
    task_id = #{taskId}</delete>
  <delete id="deleteScAiTaskLogByTaskIds" parameterType="Long">delete from sc_ai_task_log where
    task_id in <foreach item="taskId" collection="array" open="(" separator="," close=")">#{taskId}</foreach></delete>
</mapper>