<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.ScAiPromptTemplateMapper">
  <resultMap type="ScAiPromptTemplate" id="ScAiPromptTemplateResult"><id property="templateId" column="template_id"/><result property="templateCode" column="template_code"/><result property="templateName" column="template_name"/><result property="bizType" column="biz_type"/><result property="promptContent" column="prompt_content"/><result property="version" column="version"/><result property="status" column="status"/></resultMap>
  <sql id="selectScAiPromptTemplateVo">select template_id, template_code, template_name, biz_type, prompt_content, version, status from sc_ai_prompt_template</sql>
  <select id="selectScAiPromptTemplateByTemplateId" parameterType="Long" resultMap="ScAiPromptTemplateResult"><include refid="selectScAiPromptTemplateVo"/> where template_id = #{templateId}</select>
  <select id="selectScAiPromptTemplateList" parameterType="ScAiPromptTemplate" resultMap="ScAiPromptTemplateResult"><include refid="selectScAiPromptTemplateVo"/><where><if test="templateCode != null and templateCode != ''">and template_code = #{templateCode}</if><if test="templateName != null and templateName != ''">and template_name like concat('%', #{templateName}, '%')</if><if test="bizType != null and bizType != ''">and biz_type = #{bizType}</if><if test="status != null and status != ''">and status = #{status}</if></where> order by template_id desc</select>
  <insert id="insertScAiPromptTemplate" parameterType="ScAiPromptTemplate" useGeneratedKeys="true" keyProperty="templateId">insert into sc_ai_prompt_template(template_code, template_name, biz_type, prompt_content, version, status, create_by, create_time, remark) values(#{templateCode}, #{templateName}, #{bizType}, #{promptContent}, #{version}, #{status}, #{createBy}, sysdate(), #{remark})</insert>
  <update id="updateScAiPromptTemplate" parameterType="ScAiPromptTemplate">update sc_ai_prompt_template <set><if test="templateCode != null">template_code = #{templateCode},</if><if test="templateName != null">template_name = #{templateName},</if><if test="bizType != null">biz_type = #{bizType},</if><if test="promptContent != null">prompt_content = #{promptContent},</if><if test="version != null">version = #{version},</if><if test="status != null">status = #{status},</if><if test="updateBy != null">update_by = #{updateBy},</if><if test="remark != null">remark = #{remark},</if>update_time = sysdate()</set> where template_id = #{templateId}</update>
  <delete id="deleteScAiPromptTemplateByTemplateId" parameterType="Long">delete from sc_ai_prompt_template where template_id = #{templateId}</delete>
  <delete id="deleteScAiPromptTemplateByTemplateIds" parameterType="Long">delete from sc_ai_prompt_template where template_id in <foreach item="templateId" collection="array" open="(" separator="," close=")">#{templateId}</foreach></delete>
</mapper>
