<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.ScExamAnswerMapper">
  <resultMap type="ScExamAnswer" id="ScExamAnswerResult"><id property="answerId" column="answer_id"/><result property="recordId" column="record_id"/><result property="questionId" column="question_id"/><result property="userAnswer" column="user_answer"/><result property="isCorrect" column="is_correct"/><result property="score" column="score"/><result property="knowledgePointId" column="knowledge_point_id"/></resultMap>
  <sql id="selectScExamAnswerVo">select answer_id, record_id, question_id, user_answer, is_correct, score, knowledge_point_id from sc_exam_answer</sql>
  <select id="selectScExamAnswerByAnswerId" parameterType="Long" resultMap="ScExamAnswerResult"><include refid="selectScExamAnswerVo"/> where answer_id = #{answerId}</select>
  <select id="selectScExamAnswerList" parameterType="ScExamAnswer" resultMap="ScExamAnswerResult"><include refid="selectScExamAnswerVo"/><where><if test="recordId != null">and record_id = #{recordId}</if><if test="questionId != null">and question_id = #{questionId}</if></where> order by answer_id asc</select>
  <select id="selectScExamAnswerByRecordId" parameterType="Long" resultMap="ScExamAnswerResult"><include refid="selectScExamAnswerVo"/> where record_id = #{recordId} order by answer_id asc</select>
  <insert id="insertScExamAnswer" parameterType="ScExamAnswer" useGeneratedKeys="true" keyProperty="answerId">insert into sc_exam_answer(record_id, question_id, user_answer, is_correct, score, knowledge_point_id) values(#{recordId}, #{questionId}, #{userAnswer}, #{isCorrect}, #{score}, #{knowledgePointId})</insert>
  <update id="updateScExamAnswer" parameterType="ScExamAnswer">update sc_exam_answer <set><if test="recordId != null">record_id = #{recordId},</if><if test="questionId != null">question_id = #{questionId},</if><if test="userAnswer != null">user_answer = #{userAnswer},</if><if test="isCorrect != null">is_correct = #{isCorrect},</if><if test="score != null">score = #{score},</if><if test="knowledgePointId != null">knowledge_point_id = #{knowledgePointId},</if></set> where answer_id = #{answerId}</update>
  <delete id="deleteScExamAnswerByAnswerId" parameterType="Long">delete from sc_exam_answer where answer_id = #{answerId}</delete>
  <delete id="deleteScExamAnswerByAnswerIds" parameterType="Long">delete from sc_exam_answer where answer_id in <foreach item="answerId" collection="array" open="(" separator="," close=")">#{answerId}</foreach></delete>
  <delete id="deleteScExamAnswerByRecordId" parameterType="Long">delete from sc_exam_answer where record_id = #{recordId}</delete>
</mapper>
