<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.system.mapper.ScLearningWarningMapper">
  <resultMap type="ScLearningWarning" id="ScLearningWarningResult"><id property="warningId" column="warning_id"/><result property="userId" column="user_id"/><result property="courseId" column="course_id"/><result property="warningType" column="warning_type"/><result property="warningLevel" column="warning_level"/><result property="warningContent" column="warning_content"/><result property="suggestion" column="suggestion"/><result property="processStatus" column="process_status"/><result property="sourceType" column="source_type"/><result property="createTime" column="create_time"/><result property="processTime" column="process_time"/></resultMap>
  <sql id="selectScLearningWarningVo">select warning_id, user_id, course_id, warning_type, warning_level, warning_content, suggestion, process_status, source_type, create_time, process_time from sc_learning_warning</sql>
  <select id="selectScLearningWarningByWarningId" parameterType="Long" resultMap="ScLearningWarningResult"><include refid="selectScLearningWarningVo"/> where warning_id = #{warningId}</select>
  <select id="selectScLearningWarningList" parameterType="ScLearningWarning" resultMap="ScLearningWarningResult">
    <include refid="selectScLearningWarningVo"/>
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="courseId != null">
        and course_id = #{courseId}
      </if>
      <if test="warningType != null and warningType != ''">
        and warning_type = #{warningType}
      </if>
      <if test="warningLevel != null and warningLevel != ''">
        and warning_level = #{warningLevel}
      </if>
      <if test="processStatus != null and processStatus != ''">
        and process_status = #{processStatus}
      </if>
    </where>
    order by warning_id desc
  </select>
  <insert id="insertScLearningWarning" parameterType="ScLearningWarning" useGeneratedKeys="true" keyProperty="warningId">insert into sc_learning_warning(user_id, course_id, warning_type, warning_level, warning_content, suggestion, process_status, source_type, create_time, process_time) values(#{userId}, #{courseId}, #{warningType}, #{warningLevel}, #{warningContent}, #{suggestion}, #{processStatus}, #{sourceType}, sysdate(), #{processTime})</insert>
  <update id="updateScLearningWarning" parameterType="ScLearningWarning">update sc_learning_warning <set><if test="warningType != null">warning_type = #{warningType},</if><if test="warningLevel != null">warning_level = #{warningLevel},</if><if test="warningContent != null">warning_content = #{warningContent},</if><if test="suggestion != null">suggestion = #{suggestion},</if><if test="processStatus != null">process_status = #{processStatus},</if><if test="sourceType != null">source_type = #{sourceType},</if><if test="processTime != null">process_time = #{processTime},</if></set> where warning_id = #{warningId}</update>
  <delete id="deleteScLearningWarningByWarningId" parameterType="Long">delete from sc_learning_warning where warning_id = #{warningId}</delete>
  <delete id="deleteScLearningWarningByWarningIds" parameterType="Long">delete from sc_learning_warning where warning_id in <foreach item="warningId" collection="array" open="(" separator="," close=")">#{warningId}</foreach></delete>
</mapper>
